##Задачи для совместного разбора
1) Вывести все адреса электронной почты, содержащиеся в адресной книге addres-book.json

In [3]:
import json
import requests

with open('addres-book.json') as json_file:
    data = json.load(json_file)
    for emails in data:
      print(emails['email'])

faina@mail.ru
robert@mail.ru

2) Вывести телефоны, содержащиеся в адресной книге addres-book.json

In [4]:
with open('addres-book.json') as json_file:
    data = json.load(json_file)
    for i in data:
      new_data = (i['phones'])
      for k in new_data:
        print(k['phone'])

232-19-55
+7 (916) 232-19-55
111-19-55
+7 (916) 445-19-55

3) По данным из файла addres-book-q.xml сформировать список словарей с телефонами каждого из людей.

In [5]:
from bs4 import BeautifulSoup

with open('addres-book-q.xml') as f:
    soup = BeautifulSoup(f, 'xml')

phonebook = []
for person in soup.find_all("address"):
    phones = [phone.next for phone in person.phones.find_all("phone")]
    name = person.find("name").next
    phonebook.append({name: phones})

for item in phonebook:
    for key, value in item.items():
        print(key + ':', ', '.join(value))

Aicha Barki: + (213) 6150 4015, + (213) 2173 5247
Francisco Domingos: + (244-2) 325 023, + (244-2) 325 023
Maria Luisa: + (244) 4232 2836
Abraao Chanda: + (244-2) 325 023, + (244-2) 325 023
Beatriz Busaniche: + (54-11) 4784 1159
Francesca Beddie: + (61-2) 6274 9500, + (61-2) 6274 9513
Graham John Smith: + (61-3) 9807 4702

# Лабораторная работа №4

# JSON

1.1 Считайте файл contributors_sample.json. Воспользовавшись модулем json, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [7]:
with open('contributors_sample.json', 'r') as file:
    contributors = json.load(file)

for contributor in contributors[:3]:
    print(f"Имя: {contributor['name']}")

Имя: Lindsey Nguyen
Имя: Cheryl Lewis
Имя: Julia Allen

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [10]:
with open('contributors_sample.json', 'r') as f:
    contributors = json.load(f)

domains = set() # множество удаляет не уникальные

for contributor in contributors:
    email = contributor['mail']
    if email:
        domain = email.split('@')[1] 
        domains.add(domain)

for domain in domains:
    print(domain)

hotmail.com
gmail.com
yahoo.com

1.3 Напишите функцию, которая по username ищет человека и выводит информацию о нем. Если пользователь с заданным username отсутствует, возбудите исключение ValueError

In [8]:
with open('contributors_sample.json', 'r') as f:
    contributors = json.load(f)


def find_contributor_by_username(username):
    with open('contributors_sample.json', 'r') as f:
        contributors = json.load(f)

    for contributor in contributors:
        if contributor['username'] == username:
            print(f"Никнейм: {contributor['username']}")
            print(f"Имя: {contributor['name']}")
            print(f"Пол: {contributor['sex']}")
            print(f"Адрес: {contributor['address']}")
            print(f"Email: {contributor['mail']}")
            print(f"Работы: {contributor['jobs']}")
            print(f"ID: {contributor['id']}")
            return
        
    raise ValueError(f"Пользователь с username '{username}' не найден.")

find_contributor_by_username('woodmarissa')

Никнейм: woodmarissa
Имя: Michael Jackson
Пол: M
Адрес: 4531 Phillips Underpass
Martinezport, MA 82685
Email: dustin32@hotmail.com
Работы: ['Designer, furniture', 'Designer, furniture', 'Lecturer, higher education']
ID: 113941

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [11]:
with open('contributors_sample.json', 'r') as f:
    contributors = json.load(f)


male_count = 0
female_count = 0

for contributor in contributors:
    if contributor['sex'] == 'M':
        male_count += 1
    elif contributor['sex'] == 'F':
        female_count += 1

print(f"Количество мужчин: {male_count}")
print(f"Количество женщин: {female_count}")

Количество мужчин: 2064
Количество женщин: 2136

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id, username и sex`.

In [13]:
import pandas as pd
with open('contributors_sample.json', 'r') as f:
    contributors = json.load(f)

contributors_dict = {'id': [], 'username': [], 'sex': []}

for contributor in contributors:
    contributors_dict['id'].append(contributor['id'])
    contributors_dict['username'].append(contributor['username'])
    contributors_dict['sex'].append(contributor['sex'])

contributors = pd.DataFrame.from_dict(contributors_dict)
contributors

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]